* {
	Padding: 0;
	Margin: 0;
}
body {
	
	font-size: 20px;
	font-family: Helvetica, Arial, sans-sefif;
	line-height: 1.5;
}

header {
	background-color: lightblue;
	padding: 20px
}

a {
	color:inherit;
	text-decoration: none; 
}

nav a{
	color: #cccccc
	font-style: italic;
	margin-right: 10px;
}
