@import url(https://fonts.googleapis.com/css?family=Oswald);


* {
	padding: 0;
	margin: 0;
}
body {	
	font-size: 20px;
	line-height: 1.5;
	font-family: 'Oswald', 'Arial', sans-serif;
}
header {
	background-color: lightblue;
	padding: 10px
}
footer {
	background-color: lightblue;
	margin-top: -20px;
	padding-top: 20px;
}
a {
	color:inherit;
	text-decoration: none; 
}
nav a{
	color: #000000;
	font-style: bold;
	margin-right: 10px;
	text-align: left;
	padding: 25px;
	text-transform: uppercase;
}
img {
	max-width: 100%;
}
h1	{
	text-align: right;
	font-family: 'Oswald', 'Arial', sans-serif;
	font-size: 40px;
	margin-top: -10px;
}
p   {
	text-align: center;
	width: 600px;
	line-height: 1.5em;
	margin: 0 auto;
}

h2	{
	text-align: center;
	clear: both;
}

h3{
	background-color: lightblue;
	margin-top: -20px;
	padding-top: 20px;
	text-align: center;
}
ul{
	padding: -20px;
	text-align: center;
	background-color: lightblue;
}

#nav-right {
	float: right;
}

#nav-left {
	float:left;
}





